container_commands:
  01_migrate:
    command: "source env/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from accounts.models import Account; Account.objects.create_superuser('jiayu', 'liang', 'mogu_house@hotmail.com', 'mianic', 'q1w2e3r4')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: jyjewellery.settings
